@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: 'Yanone Kaffeesatz';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav {
    width: 100%;
    display: flex;
    background-color: aqua;
    height: 50px;
    justify-content: space-evenly;
}

.link {
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: blue;
    padding: 7px;
    border-radius: 4px;
    
}
.link:hover{
    background-color: blueviolet;
}

.link1{
    margin-top: 12px;
    flex-grow: 5;
    margin-left: 50px;
}
.link2{
    margin-top: 12px;

    flex-grow: 1;
}
.link3{
    margin-top: 12px;
    flex-grow: 1;
}
.link4{
    margin-top: 12px;
    flex-grow: 1;
}
.link5{
    margin-top: 12px;
    flex-grow: 1;
}