/*Estructura general*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root{
    --height-nav:70px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
    background: #f2f2f2;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

/*Flexbox y mas...*/
.nav{
    background: #143d64;
    height: var(--height-nav);
    color: #fff;
}

.nav__container{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}